body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

a {
  color: #244b83;
  text-decoration: none;
}

a:hover {
  color: #f58932;
}

.after::after {
  content: "\00BB";
  padding-left: 4px;
}
